body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Header Styles START */
header {
  padding: 1px;
  background-color: whitesmoke;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: black;
  margin-left: 50px;
}
  
header a {
  text-decoration: none;
  color: black;
}
header nav {
  margin: 18px 0;
}
header nav ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 50px;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  background:lightsteelblue;
  color:#024e76;
  border-radius: 15px;
  text-shadow: none;
}

/* Header Styles END */

/* intro styles START */
.intro {    
  text-align: center;
  padding:50px;
}

.intro img {
  border: 5px solid black;
}

.intro p {
  text-align: center;
  width:700px;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 100px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  border: 5px solid black;
  padding: 40px;
}
.intro a {
  margin-left: 20px;
  border: 5px solid black;
  border-radius: 20px;
}

.flex, .web {
  display:flex;
  justify-content: space-around;
}
/* intro styles END */

/* Content style STARTS */
.content {
  padding: 20px;
}
.content h2 {
  text-align: center;
}

/* run buddy styles */
#run-buddy {
  width: 800px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  position: relative;
  text-align:center;
  display:flex;
  color:green;
}

#run-buddy h3 {
  background-color: orange;
  color:whitesmoke;
  width: 30%;
  padding: 15px;
  position: absolute;
  bottom: 50px;
  left: 25px;
}
#run-buddy img {
  border: 5px solid black;
  border-radius: 20px;
}

#run-buddy:hover{
  opacity: .7;
  border-radius: 25px;
  text-shadow: none;
}
/* web style */

.web img {
  border: 5px solid black;
  border-radius: 20px;
}

.web h3{
  background-color: orange;
  color:whitesmoke;
  width: 50%;
  padding: 5px;
  position: absolute;
  bottom: 8px;
  left: 6px;
}
#horiseon, #robot, #holder {
  margin-top: 10px;
  display:flex;
  position: relative;
  text-align:center;
}

#horiseon:hover, #robot:hover, #holder:hover {
  opacity: .7;
  border-radius: 25px;
  text-shadow: none;
}

/* robot style starts */
#robot h3{
  width: 75%;
  bottom: 10px;
}

/* Content style ENDS */

/* contact style START */
.contact {
  text-align: center;
  padding: 10px;
  font-size: 18;
  display: flex;
  flex:wrap;
  justify-content:space-between;
  background-color: whitesmoke;
}

.contact button {
  font-size: 20px;
  background-color: rgb(198, 216, 238);
  border: 2px solid black;
  border-radius: 20px;
  justify-content: space-evenly;
  padding: 5px 10px 5px 10px;
}
#button {
  margin-right: 15px;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    width: 700px;
    justify-content: center;
  }

  .intro {
    width: 95%;
    align-items: center;
   
  }
  .intro p {
    width: 70%;
    justify-content: center;
  }
  .flex {
    justify-content: center;
    align-items: center;
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .contact {
    display:flex;
    
    justify-content: center;
    text-align: center;
    width:110%;
  }
  .contact button {
    flex:auto;
    flex-direction: row;
  }
 #run-buddy img {
   width:70%;
   margin-right:500px;
   align-items: left;
 }
 #work img {
   align-items: center;

 }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    width: 107%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
 .intro {
   width: 103%;
 }
  .intro h2 {
    padding: 10px;
    margin: auto;
  }
  .intro p {
    font-size: 25px;
    margin-right: 160px;
    margin-top: 20px;
  }
  .content{
    padding: 30px 15px;
    width:100%;
  }
  .content h3 {
    width: 103%;
  }

  #run-buddy {
    margin-right: 120px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
  }
  #horiseon {
    margin-bottom: 10px;
  }
  #work {
    width:110%
  }
 
  .contact {
    display:flex;
    flex-wrap: wrap;
    width: 105%;
  }
  .contact button {
    justify-content: space-evenly;
  }
}

/* Media Query starts */
@media screen and (max-width: 980px) {

  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
 }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  } */
}